{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'todo_tasks/add_task.css' %}">
{% endblock css_files %}


{% block title %}
Add Your Tasks
{% endblock title %}


{% block content %}
    <form method="POST">
    {% csrf_token %}
    <div class="form">
    {% for field in form %}
    <div class="form-control">
        {{field.label_tag}}
        {{field}}
        {{field.errors}}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
    </div>
    </form>
{% endblock content %}


